@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  .button {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: #82B3D3;
    text-decoration: none;
  }

  img {
    display: block;
  }

  body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
  }

  .navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
  }

  .navigation-user {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 268px;
    display: flex;
    justify-content: space-between;
    max-width: 270px;
    margin-left: auto;
  }

  .main-continer {
    flex-grow: 1;
  }

  .page-header {
    background-color: #ffffff;
    color: #000000
  }

  .navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
  }

  .navigation-link-button {
    display: block;
    width: 160px;
    background-color: #756157;
    text-align: center;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .hero {
    background-image: url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #ffffff;
    background-color: #000000;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

  .advantages-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .advantages-heading {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages-main-text {
    font-size: 22px;
    line-height: 26px;
    width: 651px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantage-header {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    width: 175px;
    text-align: center;
  }

  .advantage-text {
    width: 230px;
    text-align: center;
  }

  .advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }

  .advantage-item:first-child {
    background-color: #82B3D3;
    color: #ffffff;
    width: 1200px;
  }

  .advantage-item:nth-child(2n+2) {
    background: rgba(131, 179, 211, 0.12);
  }

  .advantage-item:nth-child(3) {
    background: rgba(131, 179, 211, 0.2);
  }

  .advantage-item:last-child {
    background-color: #82B3D3;
    color: #ffffff;
    width: 1200px;
  }

  .heading-advices {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 505px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .text-advices {
    font-size: 22px;
    line-height: 26px;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
  }

  .advices-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .advices-item-heading {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    width: 230px;
    text-align: center;
  }

  .advices-item-text {
    width: 230px;
    text-align: center;
  }

  .advices-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }

  .advices-item:nth-child(odd) {
    background: rgba(131, 179, 211, 0.12);
  }

  .advices-item:nth-child(2) {
    background: #FFFFFF;
  }

  .have-an-interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 592px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading-interest {
    width: 300px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  .text-interest {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  .interest-button {
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
    width: 376px;
  }

  .mailing {
    margin: 0;
    padding: 0;
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading-subscribe {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .text-subscribe {
    font-size: 22px;
    line-height: 26px;
    width: 475px;
    text-align: center;
  }

  .subscribe-button {
    font-size: 20px;
    line-height: 36px;
  }

  .email {
    width: 452px;
  }

  .footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .footer-social-list {
    padding: 0;
    margin-left: 70px;
    width: 142px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .footer-social-item .button {
    text-decoration: none;
  }

  .footer-contact-phone {
    font-size: 40px;
    line-height: 40px;
    color:#000000;
    text-decoration: none;
    width: 331px;
    margin-left: 237px;
  }

  .academy-logo {
    width: 115px;
    margin-left: 236px;
  }

  .filter-of-catalog {
    background-image: url("../images/filter.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    padding: 35px 70px 70px 70px;
  }

  .inner-header {
    display: flex;
    flex-direction: column;
  }

  .inner-header-title {
    font-size: 68px;
    line-height: 78px;
    margin: 0;
    padding: 0;
  }

  .catalog-header {
    font-size: 60px;
    line-height: 78px;
    margin-left: 70px;
    width: 495px;
  }

  .breadcrumbs {
    width: 114px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .breadcrumbs-page {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  .breadcrumbs-link {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .left-filters {
    display: flex;
    width: 371px;
    justify-content: space-between;
  }

  .right-filters {
    display: flex;
    width: 549px;
    justify-content: space-between;
  }

  .filter-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 191px;
  }

  .filter-pricing {
    display: flex;
    width: 286px;
  }

  .filter-catalog-group {
    width: 151px;
    border: 0;
    padding: 0;
    margin: 0;
  }

  .catalog-filters {
    display: flex;
    justify-content: space-between;
    width: 1060px;
  }

  .filter-list {
    list-style: none;
    padding: 0;
  }

  .filter-catalog-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  .filter-item-checkbox {
    line-height: 23px;
  }

  .filter-item-radio {
    line-height: 23px;
  }

  .price-value {
    padding: 0;
    margin: 0;
    color:#000000;
    line-height: 24px;
    font-weight: 700;
    width: 143px;
  }

  .label {
    line-height: 24px;
    color:#000000;
    opacity: 0.5;
  }

  .filter-reset {
    background-color: transparent;
  }

  .founded-hotels {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-left: 70px;
  }

  .select-sorting {
    padding: 0;
    margin: 0;
    margin-left: 200px;
    width: 292px;
  }

  .view-options-list {
    margin-left: 70px;
    display: flex;
    width: 160px;
    justify-content: space-between;
  }

  .text-link-hotel {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;
  }

  .sorting-conatiner {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .view-options-list {
    list-style: none;
  }

  .product-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .product-card {
    width: 340px;
    padding: 20px;
  }

  .product-cost {
    color: #333333;
  }

  .product-favorite-button-activated {
    background-color: #7DB54F;
  }

  .product-more-button {
    background-color: #756157;
    text-decoration: none;
  }

  .rating {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    background-color: #F2F2F2;
  }

  .pagination-list {
    list-style: none;
    display: flex;
  }

  .pagination-item {
    width: 60px;
  }

  .three-dots {
    background-color: #FFFFFF;
    color: #000000;
  }

  .pagination-button {
    font-size: 20px;
    line-height: 36px;
    padding: 20px;
  }

  .mailing-catalog {
    margin: 0;
    padding: 0;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-link {
    text-decoration: none;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
